#pandas @ file:///C:/ci/pandas_1618365634936/work
numpy @ file:///C:/ci/numpy_and_numpy_base_1618497418457/work
scikit-learn==1.0
json5==0.9.5
requests @ file:///tmp/build/80754af9/requests_1608241421344/work
scikit-learn==1.0
matplotlib @ file:///C:/ci/matplotlib-suite_1613408055530/work
psycopg2 @ file:///C:/ci/psycopg2_1612298715048/work
psycopg2-binary==2.9.3
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.23.1
keras==2.7.0
keras-nightly==2.9.0.dev2022012308
Keras-Preprocessing==1.1.2
yfinance==0.1.70

