<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Return Maximizer</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    
    <link rel="stylesheet" href="../static/css/style.css">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
   
    <script>
                         
    function info(json) {
        let name = document.getElementById('companyName');
        name.innerHTML = json.shortName;
        name = document.getElementById('symbol');
        name.innerHTML = json.symbol;
        name = document.getElementById('dayHigh');
        name.innerHTML = json.dayHigh;
        name = document.getElementById('dayLow');
        name.innerHTML = json.dayLow;
        name = document.getElementById('fiftyTwoWeekHigh');
        name.innerHTML = json.fiftyTwoWeekHigh;
        name = document.getElementById('fiftyTwoWeekLow');
        name.innerHTML = json.fiftyTwoWeekLow;
    }

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>
    <script type="text/javascript">
        var graphs = {{graph | safe}};
        Plotly.plot('chart',graphs,{});
    </script>
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron">
      <h1 style ="color:aliceblue"> Stock Return Maximizer</h1>
      <!-- Add a button to activate scraping script -->
      <div class="row">
      <form action="{{url_for('analyzer')}}" method="post">
        <p style=color:white> <label for="ticker" color="white">Stock Ticker:</label></p>
        <input type="text" id="tick" name="inputticker" placeholder="Enter Stock Ticker">
      <button id='start' type='submit' href="/analyze">Analyze</button>
    </div>
    </div>

    <div class="row" id="first">
      <div class="col-md-1"> 
      </div> 

      <div class="col-md-4">
            <h6>Company Name:</h6>
            <h6>Predicted Price of the Stock:</h6>
            <h6>Expected Prediction Accuracy:</h6>
            <h6>Current Price of the Stock:</h6>
      </div>  

      <div class="col-md-4">
            <h6>{{tk}}</h6>
            <h6>$ {{pp}}</h6>
            <h6>{{pa}}</h6>
            <h6>$ {{cp}}</h6>
      </div>

      <div class="col-md-3">
        <div class="container">
          <h3 class="d-block btn btn-success">Recommendation</h3>
        <h2 class="text-center">{{rec}}  </h2>
      </div>

    </div>
  </div>
    

          <div class="container-fluid">
            <h3 class="col text-light bg-dark text-center">Business Summary</h3>
            <p class="sectionbar">{{bs}} </p>
          </div>
  
        <div class="container-fluid">
            <h3 class="col text-light bg-dark text-center">Stock Price Chart</h3>
        </div>

        <div class="container-fluid" id="chartpad">
        <div class="row">
          
              <div class="col-3"><p><b>Stock info</b></p>
                        <p>Symbol: <span id="symbol">N/A</span></p>
                        <p>Day High: <span id="dayHigh">N/A</span></p>
                        <p>Day Low: <span id="dayLow">N/A</span></p>
                        <p>52 Week High: <span id="fiftyTwoWeekHigh">N/A</span></p>
                        <p>52 Week Low: <span id="fiftyTwoWeekLow">N/A</span></p>
        
                        
                </div>
                <div class="col-9">
                    <div class="chart" id="chart">
                    </div>
                </div>   
        </div>
    </div>
    </div>
 
    <!--<script src="charts.js"></script> -->
</body>
</html>
</body>
</html>